<article class="photo-card-big">
  <div class="nesting">
    <img src="{{source1}}">
  </div>
</article>

<div class="photo-container-nested">
  <article class="photo-card-small">
    <div class="nesting">
      <img src="{{source2}}">
    </div>
  </article>

  <article class="photo-card-small">
    <div class="nesting">
      <img src="{{source3}}">
    </div>
  </article>
</div>
