<div class="photo-container-nested">
  <article class="photo-card-small">
    <a href="#">
      <img src="{{source2}}">
    </a>
  </article>

  <article class="photo-card-small">
    <a href="#">
      <img src="{{source3}}">
    </a>
  </article>
</div>

<article class="photo-card-big">
  <a href="#">
    <img src="{{source1}}">
  </a>
</article>
