{{#if_home hType}}
  {{> header}}
{{/if_home}}

{{#if_port hType}}
  {{> headerport}}
{{/if_port}}

{{#if_hawaii hType}}
  {{> headerhawaii}}
{{/if_hawaii}}

{{#if_gorge hType}}
  {{> headergorge}}
{{/if_gorge}}

{{#if_utah hType}}
  {{> headerutah}}
{{/if_utah}}

<div id="popout-backdrop" class="hid"></div>
<div id="popout" class="hid">
  <div class="popout-body">
    <!-- <div id="popout-body-elem1"> -->
      <img id="popoutimg" src="https://i.imgur.com/fRCRw6s.jpg">
    <!-- </div> -->
    <!-- <div id="popout-body-elem2">
      Hi this is my text als;kdfjsfdja; fadsjklasfd dajkdafs da dafs dfas fdas adfs adsf afds afds afsd afds adfs afsd fds fads afds fds
    </div> -->
  </div>
</div>

<main class="photo-container">

  {{#each photoStuff}}
    {{#if_even @index}}
      {{> photoSet}}
    {{else}}
      {{> photoSet2}}
    {{/if_even}}
  {{/each}}

</main>

<footer>
  <div class="foot">
    <a href="https://github.com/Stygain"><img src="https://image.flaticon.com/icons/png/512/25/25231.png"></a>
    <a href="https://www.instagram.com/barton.da.photography/"><img src="https://seeklogo.com/images/I/instagram-logo-A807AD378B-seeklogo.com.png"></a>
    <br>
    Site created by <a href="https://www.youtube.com/c/adambarton">Adam Barton</a>
  </div>
</footer>
