{{> header}}

<main class="photo-container">

  {{#each photoStuff}}
    {{#if_even @index}}
      {{> photoSet}}
    {{else}}
      {{> photoSet2}}
    {{/if_even}}
  {{/each}}

</main>
