{{#if_home hType}}
  {{> header}}
{{/if_home}}

{{#if_port hType}}
  {{> headerport}}
{{/if_port}}

{{#if_hawaii hType}}
  {{> headerhawaii}}
{{/if_hawaii}}

{{#if_gorge hType}}
  {{> headergorge}}
{{/if_gorge}}

{{#if_utah hType}}
  {{> headerutah}}
{{/if_utah}}


<main class="photo-container">

  {{#each photoStuff}}
    {{#if_even @index}}
      {{> photoSet}}
    {{else}}
      {{> photoSet2}}
    {{/if_even}}
  {{/each}}

</main>
