{{#if_home hType}}
  {{> header}}
{{/if_home}}

{{#if_port hType}}
  {{> headerport}}
{{/if_port}}

{{#if_hawaii hType}}
  {{> headerhawaii}}
{{/if_hawaii}}

{{#if_gorge hType}}
  {{> headergorge}}
{{/if_gorge}}

{{#if_utah hType}}
  {{> headerutah}}
{{/if_utah}}

<main class="photo-container">

  {{#each photoStuff}}
    {{#if_even @index}}
      {{> photoSet}}
    {{else}}
      {{> photoSet2}}
    {{/if_even}}
  {{/each}}

</main>

<footer>
  <div class="foot">
    View my <a href="">github</a>, this site is included!
    <br>
    View some more shots on <a href="">Instagram</a>!
    Site created by Adam Barton
  </div>
</footer>
