/*@import url('//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css');*/

@font-face {
	font-family: WalkwayBlack;
	src: url("/style/Walkway_Black.ttf");
}

@font-face {
	font-family: Walkway;
	src: url("/style/Walkway_Bold.ttf");
}

@font-face {
	font-family: Plagiata;
	src: url("/style/Plagiata.otf");
}

@font-face {
	font-family: WildYouth;
	src: url("/style/WildYouth-Regular.otf");
}

@font-face {
	font-family: Fashion;
	src: url("/style/FashionFetishSmallCaps.ttf");
}

@font-face {
	font-family: Modern;
	src: url("/style/Modern.otf");
}

body {
  font-family: 'Kaushan Script', cursive;
  margin: 0;
  background-color: #eee;
}

a {
  text-decoration: none;
  color: black;
  margin: 0;
}

.site-title {
  margin: 0;
  font-size: 40px;
  font-family: 'Kaushan Script', cursive;
  color: black;
  text-decoration: none;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 2px;
  background-color: brown;
}

.navbar {
  background-color: #fff;
	font-family: Modern;
  font-size: 18px;
  line-height: 22px;
}

.navlist {
  margin: 0 0 0 20px;
  padding: 0;
}

.navitem {
  display: inline-block;
}

a {
  color: #343434;
}

a:hover,
a:focus {
  color: #319df6;
}

a:focus {
  outline: none;
}

.navlink a {
  padding: 8px 10px;
  display: inline-block;
}

.navlink.active {
  box-shadow: inset 0 -3px #319df6;
}

.navbar-search {
  float: right;
  margin-right: 20px;
  padding: 0;
  line-height: 38px;
}

#navbar-search-input {
  padding: 4px;
  font-size: 16px;
  background-color: #eee;
  border: 1px solid #dadada;
  border-radius: 2px;
}

#navbar-search-input:focus {
  outline: none;
  background-color: #fff;
}

#navbar-search-button {
  margin-left: -5px;
  font-size: 16px;
  background: none;
  border: none;
  color: #343434;
  cursor: pointer;
}

#navbar-search-button:hover {
  color: #319df6;
}

#navbar-search-button:focus {
  color: #319df6;
  outline: none;
}

.photo-container {
  margin: 20px 10vw;
	justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.photo-container-nested {
  display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.photo-card-small {
  flex: 0 1 0 22%;
	/*flex-direction: column;*/
  display: inline-flex;
	max-height: 38vw;
  margin: 0;
  border: 1px solid #dadada;
  border-radius: 2px;
  background-color: #fff;
}

.photo-card-small img {
  width: 38vw;
	margin: 0;
	padding: 0;
	vertical-align: top;
}

.photo-card-small img:hover {
  box-shadow: 0px 10px 15px #888888;
	-webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

.photo-card-big {
  flex-basis: 22%;
	max-width: 35vw;
	/*flex-direction: column;*/
  display: inline-flex;
	/*height: 100px;*/
  margin: 0;
  border: 1px solid #dadada;
  border-radius: 2px;
  background-color: #fff;
}

.photo-card-big img {
  width: 35vw;
	vertical-align: top;
}

.photo-card-big img:hover {
  box-shadow: 0px 10px 15px #888888;
	-webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

/*

.twit-container {
  margin: 50px 10%;
  display: flex;
  flex-wrap: wrap;
}

.twit {
  flex: 0 1 28%;
  display: flex;
  margin: 2px;
  padding: 20px;
  border: 1px solid #dadada;
  border-radius: 2px;
  background-color: #fff;
}

.twit-icon {
  font-size: 24px;
}

.twit-content {
  flex: 1 1 80%;
  margin-left: 10px;
}

.twit-content p {
  margin: 0;
}

.twit-content .twit-attribution {
  margin-top: 8px;
  text-align: right;
  font-weight: bold;
}

#create-twit-button {
  position: fixed;
  right: 30px;
  bottom: 30px;
  height: 60px;
  width: 60px;
  border: none;
  border-radius: 30px;
  font-size: 36px;
  background-color: #ff1010;
  color: #fff;
  cursor: pointer;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
}

#create-twit-button:hover,
#create-twit-button:focus {
  right: 27px;
  bottom: 27px;
  height: 66px;
  width: 66px;
  border-radius: 33px;
  font-size: 40px;
  background-color: #319df6;
}

#create-twit-button:focus {
  outline: none;
}

#modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.85);
}

#create-twit-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  overflow: scroll;
}

.hidden {
  display: none;
}

.modal-dialog {
  width: auto;
  max-width: 600px;
  min-width: 350px;
  min-height: 300px;
  margin: 40px auto;
  background-color: #fff;
  border-radius: 15px;
}

.modal-header {
  position: relative;
  padding: 10px 20px;
}

.modal-header h3 {
  margin: 0;
  font-size: 28px;
}

.modal-close-button {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 24px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.modal-body {
  padding: 20px;
}

.twit-input-element {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin: 10px 0;
}

.twit-input-element label {
  font-weight: 600;
  flex: 1 75px;
  margin-right: 10px;
}

.twit-input-element input,
.twit-input-element textarea {
  flex: 6 200px;
  padding: 8px;
  font-size: 20px;
  border: 1px solid #aaa;
}

.twit-input-element textarea {
  min-height: 64px;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px 10px 20px 10px;
}

.modal-footer button {
  font-size: 20px;
  background-color: #fff;
  color: #333;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px;
  margin-right: 20px;
  cursor: pointer;
}

.modal-footer .modal-cancel-button:hover {
  background-color: #eee;
}

.modal-footer .modal-accept-button {
  background-color: #319df6;
  color: #fff;
}

.modal-footer .modal-accept-button:hover {
  background-color: #087dde;
}*/
